################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/InnoplixTeamMgmt/.vs/InnoplixTeamMgmt/v16
/InnoplixTeamMgmt/InnoplixTeamMgmt/bin/Debug/netcoreapp3.1
/InnoplixTeamMgmt/InnoplixTeamMgmt/obj
