<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title - InnoplixTeamMgmt</title>

    <!-- Custom fonts for this template-->
    <link href="~/theme/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/theme/css/sb-admin-2.min.css" rel="stylesheet">
    @RenderSection("Style", required: false)
</head>

<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-controller="Home" asp-action="Index">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">dynamiX</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" asp-controller="Home" asp-action="Index">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Interface
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-address-card"></i>
                    <span>Lead Generation</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Target Audience:</h6>
                        <a class="collapse-item" asp-controller="Prospect" asp-action="List">List Book</a>
                        <a class="collapse-item" href="cards.html">Customers</a>
                        <a class="collapse-item" href="cards.html">Organiser</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-user-graduate"></i>
                    <span>My Team</span>
                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Team Details:</h6>
                        <a class="collapse-item" href="utilities-color.html">Distributors</a>
                        <a class="collapse-item" href="utilities-border.html">Active Distributors</a>
                        <a class="collapse-item" href="utilities-animation.html">Rank Holders</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSales" aria-expanded="true" aria-controls="collapseSales">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Sales Manager</span>
                </a>
                <div id="collapseSales" class="collapse" aria-labelledby="headingSales" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Sales Activities:</h6>
                        <a class="collapse-item" href="utilities-color.html">New Closing</a>
                        <a class="collapse-item" href="utilities-color.html">Repurchase</a>
                        <a class="collapse-item" href="utilities-color.html">Daily Work</a>
                        <a class="collapse-item" href="utilities-border.html">Weekly Work</a>
                        <a class="collapse-item" href="utilities-animation.html">Monthly Work</a>
                        <a class="collapse-item" href="utilities-animation.html">Review</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseRetail" aria-expanded="true" aria-controls="collapseRetail">
                    <i class="fas fa-funnel-dollar"></i>
                    <span>Retail Manager</span>
                </a>
                <div id="collapseRetail" class="collapse" aria-labelledby="headingRetail" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Retail Activities:</h6>
                        <a class="collapse-item" href="utilities-color.html">Products</a>
                        <a class="collapse-item" href="utilities-color.html">Stock</a>
                        <a class="collapse-item" href="utilities-color.html">Invoice</a>
                        <a class="collapse-item" href="utilities-border.html">Next Due Reminder</a>
                        <a class="collapse-item" href="utilities-animation.html">Reports</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Documents Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseDocuments" aria-expanded="true" aria-controls="collapseDocuments">
                    <i class="fas fa-folder-open"></i>
                    <span>Document Manager</span>
                </a>
                <div id="collapseDocuments" class="collapse" aria-labelledby="headingDocuments" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Business Tools:</h6>
                        <a class="collapse-item" href="utilities-color.html">Catalogs</a>
                        <a class="collapse-item" href="utilities-color.html">Gallery</a>
                        <a class="collapse-item" href="utilities-color.html">Upload Document</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Tasks Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTasks" aria-expanded="true" aria-controls="collapseTasks">
                    <i class="fas fa-tasks"></i>
                    <span>Task Manager</span>
                </a>
                <div id="collapseTasks" class="collapse" aria-labelledby="headingTasks" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Your Tasks:</h6>
                        <a class="collapse-item" href="utilities-color.html">Assignment</a>
                        <a class="collapse-item" href="utilities-color.html">Calander</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Setting Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSettings" aria-expanded="true" aria-controls="collapseSettings">
                    <i class="fas fa-cog"></i>
                    <span>Settings</span>
                </a>
                <div id="collapseSettings" class="collapse" aria-labelledby="headingSettings" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="utilities-color.html">Team Setting</a>
                        <a class="collapse-item" href="utilities-color.html">Reminder Setting</a>
                        <a class="collapse-item" href="utilities-color.html">Data Sharing Setting</a>
                        <a class="collapse-item" href="utilities-color.html">Others</a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Addons
            </div>

            <!-- Nav Item - Documents Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseEvents" aria-expanded="true" aria-controls="collapseEvents">
                    <i class="fas fa-calendar-week"></i>
                    <span>Event Manager</span>
                </a>
                <div id="collapseEvents" class="collapse" aria-labelledby="headingEvents" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Events:</h6>
                        <a class="collapse-item" href="utilities-color.html">New Event</a>
                        <a class="collapse-item" href="utilities-color.html">Participants</a>
                        <a class="collapse-item" href="utilities-color.html">Income</a>
                        <a class="collapse-item" href="utilities-color.html">Expenditure</a>
                        <a class="collapse-item" href="utilities-color.html">Reports</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Contest Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseContest" aria-expanded="true" aria-controls="collapseContest">
                    <i class="fas fa-trophy"></i>
                    <span>Contest Manager</span>
                </a>
                <div id="collapseContest" class="collapse" aria-labelledby="headingContest" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="login.html">New Contest</a>
                        <a class="collapse-item" href="login.html">Terms & Conditions</a>
                        <a class="collapse-item" href="register.html">Achievers</a>
                        <a class="collapse-item" href="forgot-password.html">Contribution</a>
                        <a class="collapse-item" href="forgot-password.html">Reports</a>
                        <div class="collapse-divider"></div>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
                <partial name="_LoginPartial.cshtml">
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    @RenderBody()
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout">
                        <button id="logout" type="submit" class="btn btn-primary">Logout</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/theme/vendor/jquery/jquery.min.js"></script>
    <script src="~/theme/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/theme/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/theme/js/sb-admin-2.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>
